<div class="modal-header text-center">
    <h5>{{tittle}}</h5>
    <div class="close-modal">
        <i class="fa fa-close" style="cursor: pointer;" (click)="cancel()"></i>
    </div>
</div>
<div class="modal-body">
    <form [formGroup]="certificateForm" (click)="submit()">
        <div class="_card white-bg">
            <div class="row">
                <div class="col-md-6  mb-3">
                    <label class="form-label">Backend Certificate</label>
                    <div class="flex justify-between item-center gap-2">
                        @if(backendImagePath) {
                        <img [src]="getImageUrl(backendImagePath)" alt="Backend Certificate"
                            class="w-10 h-10 rounded-full profile-image mb-2" />
                        }
                        <input type="file" class="form-control" formControlName="backendCertificate"
                            (change)="onFileChange($event,'backend')" />
                    </div>
                    @if (certificateForm.get('backendCertificate')?.touched ||
                    certificateForm.get('backendCertificate')?.dirty) { @if
                    (certificateForm.get('backendCertificate')?.hasError('required')) {
                    <span class="text-danger">Backend Certificate is Required</span>
                    }
                    }

                </div>

                <div class="col-md-6  mb-3">
                    <label class="form-label">Vahan Certificate</label>
                    <div class="flex justify-between item-center gap-2">
                        @if(vahanImagepath) {
                        <img [src]="getImageUrl(vahanImagepath)" alt="Vahan Certificate"
                            class="w-10 h-10 rounded-full profile-image mb-2" />
                        }
                        <input type="file" class="form-control" formControlName="vahanCertificate"
                            (change)="onFileChange($event,'vahan')" />
                    </div>
                    @if (certificateForm.get('vahanCertificate')?.invalid &&
                    (certificateForm.get('vahanCertificate')?.dirty ||
                    certificateForm.get('vahanCertificate')?.touched))
                    {
                    <span class="text-danger">Vahan Certificate is Required</span>
                    }
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="button-container">
                <button class="btn btn-success" type="submit" >Submit</button>
                <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>