<div class="modal-header text-center">
    <h5>{{tittle}} Shipping</h5>
    <div class="close-modal">
        <i class="fa fa-close" style="cursor: pointer;" (click)="cancel()"></i>
    </div>
</div>
<div class="modal-body">
    <form [formGroup]="shippingForm">
        <div class="_card white-bg">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label class="form-label">Organization Name</label>
                    <input type="text" class="form-control" formControlName="orgName"
                        placeholder="Enter Organization Name" maxlength="50" />
                    @if (shippingForm.get('orgName')?.touched || shippingForm.get('orgName')?.dirty) {
                    @if (shippingForm.get('orgName')?.hasError('required')) {
                    <span class="text-danger">Organization Name is required</span>
                    } @else if (shippingForm.get('orgName')?.hasError('pattern')) {
                    <span class="text-danger">
                        Organization Name must be 3–50 characters (letters, numbers, spaces, &, -, . allowed)
                    </span>
                    }
                    }
                </div>

                <div class="col-md-4 mb-3">
                    <label class="form-label">Contact Person Name</label>
                    <input type="text" class="form-control" formControlName="name"
                        placeholder="Enter Contact Person Name" maxlength="30" />
                    @if (shippingForm.get('name')?.touched || shippingForm.get('name')?.dirty) {
                    @if (shippingForm.get('name')?.hasError('required')) {
                    <span class="text-danger">Contact Person Name is required</span>
                    } @else if (shippingForm.get('name')?.hasError('pattern')) {
                    <span class="text-danger">
                        Contact Person Name must be 3–30 characters (letters and spaces only)
                    </span>
                    }
                    }
                </div>

                <div class="col-md-4 mb-3">
                    <label class="form-label">Contact Person Email</label>
                    <input type="text" class="form-control" formControlName="email" placeholder="Enter Email" maxlength="254"/>
                    @if (shippingForm.get('email')?.touched || shippingForm.get('email')?.dirty) {
                    @if (shippingForm.get('email')?.hasError('required')) {
                    <span class="text-danger">Contact Person Email is required</span>
                    } @else if (shippingForm.get('email')?.hasError('patterm')) {
                    <span class="text-danger">Please enter a valid email address</span>
                    }
                    }
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Contact Person Mobile</label>
                    <input type="text" (keypress)="($event.key.match('[0-9]') ? true : $event.preventDefault())"
                        maxlength="10" class="form-control" formControlName="mobileNo"
                        placeholder="Enter Mobile Number" />
                    @if (shippingForm.get('mobileNo')?.touched || shippingForm.get('mobileNo')?.dirty) {
                    @if (shippingForm.get('mobileNo')?.hasError('required')) {
                    <span class="text-danger">Contact Person Mobile is required</span>
                    } @else if (shippingForm.get('mobileNo')?.hasError('pattern')) {
                    <span class="text-danger">Please enter a valid 10-digit mobile number</span>
                    }
                    }
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Is Default</label>
                    <select class="form-control" formControlName="isDefault">
                        @for(data of shippingAddress; track data) {
                        <option [value]="data?.value">{{data?.text}}</option>
                        }
                    </select>
                    @if (shippingForm.get('isDefault')?.invalid &&
                    (shippingForm.get('isDefault')?.dirty || shippingForm.get('isDefault')?.touched)) {
                    <span class="text-danger">Is Default is Required</span>
                    }
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">State</label>
                    <ngx-select-dropdown [config]="config" formControlName="state" [options]="stateData"
                        (change)="onSelectState($event)">
                    </ngx-select-dropdown>
                    @if (shippingForm.get('state')?.invalid &&
                    (shippingForm.get('state')?.dirty || shippingForm.get('state')?.touched)) {
                    <span class="text-danger">State is Required</span>
                    }
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">City</label>
                    <ngx-select-dropdown [config]="config" formControlName="city" [options]="cityData">
                    </ngx-select-dropdown>
                    @if (shippingForm.get('city')?.invalid &&
                    (shippingForm.get('city')?.dirty || shippingForm.get('city')?.touched)) {
                    <span class="text-danger">City is Required</span>
                    }
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Pincode</label>
                    <input type="text" class="form-control"
                        (keypress)="($event.key.match('[0-9]') ? true : $event.preventDefault())" maxlength="6"
                        formControlName="pincode" placeholder="Enter Pincode" />

                    @if (shippingForm.get('pincode')?.touched || shippingForm.get('pincode')?.dirty) {
                    @if (shippingForm.get('pincode')?.hasError('required')) {
                    <span class="text-danger">Pincode is required</span>
                    } @else if (shippingForm.get('pincode')?.hasError('pattern')) {
                    <span class="text-danger">Please enter a valid 6-digit</span>
                    }
                    }
                </div>
                <div class="col-md-12 mb-3">
                    <label class="form-label">Address</label>
                    <textarea class="form-control" maxlength="200" formControlName="address" placeholder="Enter Address"
                        rows="3"></textarea>
                </div>
            </div>
        </div>

        <!-- Footer Buttons -->
        <div class="footer">
            <div class="button-container">
                <button class="btn btn-success" type="submit" (click)="submit(shippingForm.value)">Submit</button>
                <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>