<div class="modal-header text-center">
    <h5>Place Order</h5>
    <div class="close-modal">
        <i class="fa fa-close" style="cursor: pointer;" (click)="cancel()"></i>
    </div>
</div>
<div class="modal-body">
    <form [formGroup]="placeOrderForm">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label">Product</label>
                <ngx-select-dropdown place [config]="config1" [options]="productList" formControlName="productId"
                    (change)="onProductChange($event)">
                </ngx-select-dropdown>
                @if (placeOrderForm.get('productId')?.invalid && placeOrderForm.get('productId')?.touched) {
                <span class="text-danger">Product is required</span>
                }
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">State</label>
                <ngx-select-dropdown [config]="config" [options]="stateList" formControlName="stateId"
                    (change)="onChangeState($event)">
                </ngx-select-dropdown>
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">Plan</label>
                <ngx-select-dropdown [config]="config" [options]="planList" formControlName="planId">
                </ngx-select-dropdown>
                @if(selectedProduct?.isPlan && !placeOrderForm.get('stateId')?.value) {
                <div class="text-info small mt-1">Please select a state first to see available plans</div>
                }
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Shipping Address</label>
                <ngx-select-dropdown [config]="config" [options]="shippingList" formControlName="shippingAddress"
                    (change)="onGetTaxCalculation($event)" (selectionChange)="onGetTaxCalculation($event)">
                </ngx-select-dropdown>
                @if (placeOrderForm.get('shippingAddress')?.invalid && placeOrderForm.get('shippingAddress')?.touched) {
                <span class="text-danger">Shipping Address is required</span>
                }
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Payment Mode</label>
                <ngx-select-dropdown [config]="config" [options]="paymentModeList" formControlName="paymentMode">
                </ngx-select-dropdown>
                @if (placeOrderForm.get('paymentMode')?.invalid && placeOrderForm.get('paymentMode')?.touched) {
                <span class="text-danger">Payment Mode is required</span>
                }
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">Rate</label>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Enter Rate" formControlName="rate" />
                </div>
                @if (placeOrderForm.get('rate')?.invalid && placeOrderForm.get('rate')?.touched) {
                <span class="text-danger">Rate is required</span>
                }
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">Quanity</label>
                <div class="input-group">
                    <input type="text" class="form-control"
                        (keypress)="($event.key.match('[0-9]') ? true : $event.preventDefault())"
                        placeholder="Enter Quanity" formControlName="quantity" maxlength="10" />
                </div>
                @if (placeOrderForm.get('quantity')?.invalid && placeOrderForm.get('quantity')?.touched) {
                <span class="text-danger">Quanity is required</span>
                }
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">Amount</label>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Enter Amount" formControlName="amount" />
                </div>
                @if (placeOrderForm.get('amount')?.invalid && placeOrderForm.get('amount')?.touched) {
                <span class="text-danger">Amount is required</span>
                }
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">CGST ({{this.taxCalculationData?.cgst}})</label>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Enter CGST" formControlName="cgst" />
                </div>
                @if (placeOrderForm.get('cgst')?.invalid && placeOrderForm.get('cgst')?.touched) {
                <span class="text-danger">CGST is required</span>
                }
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">SGST ({{this.taxCalculationData?.sgst}})</label>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Enter SGST" formControlName="sgst" />
                </div>
                @if (placeOrderForm.get('sgst')?.invalid && placeOrderForm.get('sgst')?.touched) {
                <span class="text-danger">SGST is required</span>
                }
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">IGST ({{this.taxCalculationData?.igst}})</label>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Enter IGST" formControlName="igst" />
                </div>
                @if (placeOrderForm.get('igst')?.invalid && placeOrderForm.get('igst')?.touched) {
                <span class="text-danger">IGST is required</span>
                }
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">Total Tax</label>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Enter Total Tax" formControlName="tax" />
                </div>
                @if (placeOrderForm.get('tax')?.invalid && placeOrderForm.get('tax')?.touched) {
                <span class="text-danger">Total Tax is required</span>
                }
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">Billing Amount</label>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Enter Billing Amount"
                        formControlName="billingAmount" />
                </div>
                @if (placeOrderForm.get('billingAmount')?.invalid && placeOrderForm.get('billingAmount')?.touched) {
                <span class="text-danger">Billing Amount is required</span>
                }
            </div>
            <div class="col-md-4"></div>
            @if(this.placeOrderForm.get('paymentMode')?.value.value == '2') {
            <div class="col-md-4 mb-3">
                <label class="form-label">Bank Name</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter Bank Name" formControlName="bankName"
                        maxlength="200" />
                </div>
                @if (placeOrderForm.get('bankName')?.touched) {
                @if (placeOrderForm.get('bankName')?.hasError('required')) {
                <span class="text-danger">Bank Name is required</span>
                }
                @if (placeOrderForm.get('bankName')?.hasError('maxlength')) {
                <span class="text-danger">Maximum 200 characters allowed</span>
                }
                @if (placeOrderForm.get('bankName')?.hasError('pattern')) {
                <span class="text-danger">Only letters, numbers, spaces, ., , & ( ) - are allowed</span>
                }
                }
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">Refrence No</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter Refrence No" maxlength="35"
                        (input)="onReferenceInput($event)" formControlName="refrence_no" />
                </div>
                @if (placeOrderForm.get('refrence_no')?.touched) {
                @if (placeOrderForm.get('refrence_no')?.hasError('required')) {
                <span class="text-danger">Reference No is required</span>
                }
                @if (placeOrderForm.get('refrence_no')?.hasError('maxlength')) {
                <span class="text-danger">Maximum 35 characters allowed</span>
                }
                @if (placeOrderForm.get('refrence_no')?.hasError('pattern')) {
                <span class="text-danger">Only Capital letters, numbers, and - are allowed</span>
                }
                }
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">Payment Receipt Image</label>
                <div class="input-group">
                    <input type="file" class="form-control" placeholder="Enter Payment Receipt Image"
                        (change)="onFileChange($event)" formControlName="image_byte" accept="image/*" />
                </div>
                @if (placeOrderForm.get('image_byte')?.invalid && placeOrderForm.get('image_byte')?.touched) {
                <span class="text-danger">Payment Receipt Imag is required</span>
                }
            </div>
            }

            <div class="col-md-12 mb-3">
                <label class="form-label">Remarks</label>
                <textarea class="form-control" placeholder="Enter Remarks" rows="3" maxlength="1000"
                    formControlName="remarks"></textarea>
            </div>
        </div>
        <div class="footer">
            <div class="button-container">
                @if(this.placeOrderForm.get('paymentMode')?.value.value == '1') {
                <button class="btn btn-primary" (click)="onPayment()">Procced to payment</button>
                } @else {
                <button class="btn btn-success" type="submit" (click)="submit(placeOrderForm.value)">Submit</button>
                }
                <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>