<div class="modal-header text-center">
    <h5>{{tittle}} Fitment</h5>
    <div class="close-modal">
        <i class="fa fa-close" style="cursor: pointer;" (click)="cancel()"></i>
    </div>
</div>
<div class="modal-body">
    <form [formGroup]="fitmentForm">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label">Device IMEI</label>
                <input type="text" class="form-control" placeholder="Enter Device IMEI"
                    (input)="getActivationdetail($event)" formControlName="deviceImei" maxlength="15" />
                @if (fitmentForm.get('deviceImei')?.touched) {
                <span class="text-danger" *ngIf="fitmentForm.get('deviceImei')?.hasError('required')">
                    Device IMEI is required
                </span>
                <span class="text-danger" *ngIf="fitmentForm.get('deviceImei')?.hasError('pattern')">
                    Must be exactly 15 digits
                </span>
                }
                @if(errorMessage){
                <span class="text-danger">
                    {{errorMessage}}
                </span>
                }@else if(activatiDetailById) {
                <span class="text-success">
                    {{activatiDetailById}}
                </span>
                }
            </div>

            @if(showInput) {
            <div class="col-md-4 mb-3">
                <label class="form-label">State
                    <button class="btn btn-info btn-sm" (click)="toggleButton()">
                        <i class="fa fa-times"></i> Cancel
                    </button>
                </label>
                <div class="input-group flex !space-x-2">
                    <input type="text" class="form-control" placeholder="Enter State Name"
                        formControlName="stateValue" />
                    <button class="btn btn-info" (click)="addState()">
                        <i class="fa fa-plus"></i> Add
                    </button>
                </div>
            </div>
            } @else {
            <div class="col-md-4 mb-3">
                <label class="form-label">
                    State
                    <button class="btn btn-primary btn-sm" (click)="toggleButton()">
                        <i class="fa fa-plus"></i> Add State
                    </button>
                </label>
                <ngx-select-dropdown [config]="config" formControlName="state" [options]="stateData"
                    (change)="onSelectState($event)">
                </ngx-select-dropdown>
                @if (fitmentForm.get('state')?.invalid &&
                (fitmentForm.get('state')?.dirty || fitmentForm.get('state')?.touched)) {
                <span class="text-danger">State is Required</span>
                }
            </div>
            }

            <div class="col-md-4 mb-3">
                <label class="form-label">Backend</label>
                <ngx-select-dropdown [config]="config" [options]="backendListData" formControlName="backend">
                </ngx-select-dropdown>
                @if (fitmentForm.get('backend')?.invalid && fitmentForm.get('backend')?.touched) {
                <span class="text-danger">Backend is required</span>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label">RTO</label>
                <ngx-select-dropdown [config]="config" [options]="rtoList" formControlName="rto">
                </ngx-select-dropdown>
                @if (fitmentForm.get('rto')?.invalid && fitmentForm.get('rto')?.touched) {
                <span class="text-danger">RTO is required</span>
                }
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">Registration Type</label>
                <ngx-select-dropdown [config]="config" [options]="vehicleTypeData" formControlName="registrationType">
                </ngx-select-dropdown>
                @if (fitmentForm.get('registrationType')?.invalid && fitmentForm.get('registrationType')?.touched) {
                <span class="text-danger">Registration Type is required</span>
                }
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">Vehicle Make</label>
                <input type="text" class="form-control" placeholder="Enter Vehicle Make" formControlName="vehicleMake"
                    maxlength="50" />
                @if (fitmentForm.get('vehicleMake')?.touched) {
                <span class="text-danger" *ngIf="fitmentForm.get('vehicleMake')?.hasError('required')">
                    Vehicle Make is required
                </span>
                <span class="text-danger" *ngIf="fitmentForm.get('vehicleMake')?.hasError('pattern')">
                    Only alphabets and spaces allowed
                </span>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label">Vehicle Model</label>
                <input type="text" class="form-control" placeholder="Enter Vehicle Model" formControlName="vehicleModel"
                    maxlength="50" />
                @if (fitmentForm.get('vehicleModel')?.touched) {
                <span class="text-danger" *ngIf="fitmentForm.get('vehicleModel')?.hasError('required')">
                    Vehicle Model is required
                </span>
                <span class="text-danger" *ngIf="fitmentForm.get('vehicleModel')?.hasError('pattern')">
                    Only letters, numbers, spaces, and hyphens allowed
                </span>
                }
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">Registration Year</label>
                <input type="text" class="form-control" placeholder="Enter Registration Year"
                    formControlName="registraionYear" maxlength="4" (keypress)="($event.key.match('[0-9]') ? true : $event.preventDefault())"/>
                @if (fitmentForm.get('registraionYear')?.touched || fitmentForm.get('registraionYear')?.dirty) {
                <span class="text-danger" *ngIf="fitmentForm.get('registraionYear')?.hasError('required')">
                    Registration Year is required
                </span>
                <span class="text-danger" *ngIf="fitmentForm.get('registraionYear')?.hasError('pattern')">
                    Enter a valid 4-digit year (1900–2099)
                </span>
                }
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">Engine No.</label>
                <input type="text" class="form-control" placeholder="Enter Engine No." formControlName="engineNo"
                    maxlength="20" (input)="onEngineNoInput($event)" />
                <div *ngIf="fitmentForm.get('engineNo')?.touched && fitmentForm.get('engineNo')?.invalid">
                    <span *ngIf="fitmentForm.get('engineNo')?.hasError('required')" class="text-danger">
                        Engine No. is required
                    </span>
                    <span *ngIf="fitmentForm.get('engineNo')?.hasError('pattern')" class="text-danger">
                        Only uppercase letters (A-Z) and numbers (0-9), 5-20 characters
                    </span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label">Chassis No.</label>
                <input type="text" class="form-control" placeholder="Enter Chassis No." formControlName="chassisNo"
                    maxlength="20" (input)="onChassisNoInput($event)" />
                <div *ngIf="fitmentForm.get('chassisNo')?.invalid && 
             (fitmentForm.get('chassisNo')?.dirty || fitmentForm.get('chassisNo')?.touched)">
                    <span class="text-danger" *ngIf="fitmentForm.get('chassisNo')?.hasError('required')">
                        Chassis No. is Required
                    </span>
                    <span class="text-danger" *ngIf="fitmentForm.get('chassisNo')?.hasError('pattern')">
                        Only letters and numbers allowed (5-20 characters)
                    </span>
                </div>
            </div>


            <div class="col-md-4 mb-3">
                <label class="form-label">Vehicle No.</label>
                <input type="text" class="form-control" placeholder="Enter Vehicle No."
                    (input)="onVehicleNoInput($event)" formControlName="vehicleNo" maxlength="10" />
                <div *ngIf="fitmentForm.get('vehicleNo')?.touched || fitmentForm.get('vehicleNo')?.dirty">
                    <span *ngIf="fitmentForm.get('vehicleNo')?.hasError('required')" class="text-danger">
                        Vehicle No. is required
                    </span>
                    <span *ngIf="fitmentForm.get('vehicleNo')?.hasError('pattern')" class="text-danger">
                        Format: XX12SS1234 (State + RTO + Series + 4 digits)
                    </span>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">Mobile Number</label>
                <input type="text" class="form-control" placeholder="Enter Mobile Number" formControlName="mobileNo"
                    maxlength="10" (keypress)="($event.key.match('[0-9]') ? true : $event.preventDefault())" />

                @if (fitmentForm.get('mobileNo')?.touched || fitmentForm.get('mobileNo')?.dirty) {
                @if (fitmentForm.get('mobileNo')?.hasError('required')) {
                <span class="text-danger">Mobile Number is required</span>
                } @else if (fitmentForm.get('mobileNo')?.hasError('pattern')) {
                <span class="text-danger">Please enter a valid 10-digit mobile number</span>
                }
                }
            </div>

        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Customer Name</label>
                <input type="text" class="form-control" placeholder="Enter Customer Name" formControlName="customerName"
                    maxlength="30" />
                @if (fitmentForm.get('customerName')?.touched ||
                fitmentForm.get('customerName')?.dirty) { @if
                (fitmentForm.get('customerName')?.hasError('required')) {
                <span class="text-danger">Contact Person Name is required</span>
                } @else if (fitmentForm.get('customerName')?.hasError('pattern')) {
                <span class="text-danger">
                    Customer Name must be 3–30 characters (letters and spaces
                    only)
                </span>
                } }
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Aadhar No.</label>
                <input type="text" class="form-control" placeholder="Enter Aadhar No."
                    (keypress)="($event.key.match('[0-9]') ? true : $event.preventDefault())" formControlName="aadharNo"
                    maxlength="12" />
                <div *ngIf="fitmentForm.get('aadharNo')?.invalid &&
              (fitmentForm.get('aadharNo')?.dirty || fitmentForm.get('aadharNo')?.touched)">
                    <span class="text-danger" *ngIf="fitmentForm.get('aadharNo')?.hasError('required')">
                        Aadhar No. is Required
                    </span>

                    <span class="text-danger" *ngIf="fitmentForm.get('aadharNo')?.hasError('pattern')">
                        Aadhar No. must be exactly 12 digits
                    </span>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Aadhar Image</label>
                <div class="flex justify-between item-center gap-2">
                    <img *ngIf="aadharImage" [src]="getImageUrl(aadharImage)" alt="Aadhar image"
                        class="w-10 h-10 rounded-full user-image mb-2" />
                    <input type="file" accept=".jpg,jpeg" class="form-control" formControlName="aadharFile"
                        (change)="onFileChange($event,'aadharImage')" />
                </div>
                @if (fitmentForm.get('aadharFile')?.invalid &&
                (fitmentForm.get('aadharFile')?.dirty || fitmentForm.get('aadharFile')?.touched)) {
                <span class="text-danger">Aadhar Image is Required</span>
                }
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Vehicle RC</label>
                <div class="flex justify-between item-center gap-2">
                    <img *ngIf="vehicleRc" [src]="getImageUrl(vehicleRc)" alt="Vehicle RC Image"
                        class="w-10 h-10 rounded-full  user-image mb-2" />
                    <input type="file" accept=".jpg,jpeg" class="form-control" formControlName="vehicleFile"
                        (change)="onFileChange($event,'vehicleRc')" />
                </div>
                @if (fitmentForm.get('vehicleFile')?.invalid &&
                (fitmentForm.get('vehicleFile')?.dirty || fitmentForm.get('vehicleFile')?.touched)) {
                <span class="text-danger">Vehicle RC is Required</span>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label class="form-label">Address</label>
                <textarea class="form-control" placeholder="Enter Address" formControlName="address"
                    rows="3"></textarea>
            </div>
        </div>

        <div class="footer">
            <div class="button-container">
                <button class="btn btn-success" type="submit" (click)="submit(fitmentForm.value)">Submit</button>
                <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>