<div class="modal-header text-center">
    <h5>{{tittle}} Authority</h5>
    <div class="close-modal">
        <i class="fa fa-close" style="cursor: pointer;" (click)="cancel()"></i>
    </div>
</div>
<div class="modal-body">
    <form [formGroup]="authorityForm">
        <div class="_card white-bg">
            <!-- Row 1: 3 Columns -->
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Authority Name</label>
                    <input type="text" class="form-control" placeholder="Enter Authority Name"
                        formControlName="authorityName"  maxlength="50"
                        (keypress)="($event.key.match('[a-zA-Z0-9]') ? true : $event.preventDefault())"/>
                     @if (authorityForm.get('authorityName')?.invalid &&
                    (authorityForm.get('authorityName')?.dirty || authorityForm.get('authorityName')?.touched)) {
                    <div>
                        @if (authorityForm.get('authorityName')?.errors?.['required']) {
                        <span class="text-danger">Authority Name is Required</span>
                        }
                        @if (authorityForm.get('authorityName')?.errors?.['pattern']) {
                        <span class="text-danger">Only alphanumeric characters are allowed</span>
                        }
                    </div>
                    }
                </div>

                @if(showInput) {
                    <div class="col-md-6 mb-3">
                        <label class="form-label">State
                            <button class="btn btn-info btn-sm" (click)="toggleButton()">
                                <i class="fa fa-times"></i> Cancel
                            </button>
                        </label>
                        <div class="input-group flex !space-x-2">
                            <input type="text" class="form-control" placeholder="Enter State Name" formControlName="stateValue" />
                            <button class="btn btn-info" (click)="addState()">
                                <i class="fa fa-plus"></i> Add
                            </button>
                        </div>
                    </div>
                    } @else {
                    <div class="col-md-6 mb-3">
                        <label class="form-label">
                            State
                            <button class="btn btn-primary btn-sm" (click)="toggleButton()">
                                <i class="fa fa-plus"></i> Add State
                            </button>
                        </label>
                        <ngx-select-dropdown [config]="config" formControlName="state" [options]="stateData" (change)="onSelectState($event)">
                        </ngx-select-dropdown>
                        @if (authorityForm.get('state')?.invalid &&
                        (authorityForm.get('state')?.dirty || authorityForm.get('state')?.touched)) {
                        <span class="text-danger">State is Required</span>
                        }
                    </div>
                    }
    
                    @if(!showCityInput) {
                    <div class="col-md-6 mb-3">
                        <label class="form-label">
                            City
                            <button class="btn btn-primary btn-sm" (click)="toggleCityButton()" [disabled]="authorityForm.get('state')?.invalid">
                                <i class="fa fa-plus"></i> Add City
                            </button>
                        </label>
                        <ngx-select-dropdown [config]="config" formControlName="city" [options]="cityData">
                        </ngx-select-dropdown>
                        @if (authorityForm.get('city')?.invalid &&
                        (authorityForm.get('city')?.dirty || authorityForm.get('city')?.touched)) {
                        <span class="text-danger">City is Required</span>
                        }
                    </div>
                    } @else {
                    <div class="col-md-6 mb-3">
                        <label class="form-label">City
                            <button class="btn btn-info btn-sm" (click)="toggleCityButton()">
                                <i class="fa fa-times"></i> Cancel
                            </button>
                        </label>
                        <div class="input-group flex !space-x-2">
                            <input type="text" class="form-control" placeholder="Enter City Name" formControlName="cityValue" />
                            <button class="btn btn-info" (click)="addCity()">
                                <i class="fa fa-plus"></i> Add
                            </button>
                        </div>
                    </div>
                    }
                  
            </div>
        </div>

        <!-- Footer Buttons -->
        <div class="footer">
            <div class="button-container">
                <button class="btn btn-success" type="submit" (click)="submit(authorityForm.value)">Submit</button>
                <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>