<div class="modal-header text-center">
    <h5>{{ tittle }} Manufacturer</h5>
    <div class="close-modal">
        <i class="fa fa-close" style="cursor: pointer" (click)="cancel()"></i>
    </div>
</div>
<div class="modal-body">
    <form [formGroup]="manufactureForm">
        <div class="_card white-bg">
            <!-- Row 1: 3 Columns -->
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label class="form-label">Organization Name</label>
                    <input type="text" class="form-control" placeholder="Enter Organization Name"
                        formControlName="orgnizationName" maxlength="50" />
                    @if (manufactureForm.get('orgnizationName')?.touched ||
                    manufactureForm.get('orgnizationName')?.dirty) { @if
                    (manufactureForm.get('orgnizationName')?.hasError('required')) {
                    <span class="text-danger">Organization Name is required</span>
                    } @else if
                    (manufactureForm.get('orgnizationName')?.hasError('pattern')) {
                    <span class="text-danger">
                        Organization Name must be 3–50 characters (letters, numbers, spaces,
                        &, -, . allowed)
                    </span>
                    } }
                </div>

                <div class="col-md-4 mb-3">
                    <label class="form-label">Contact Person Name</label>
                    <input type="text" class="form-control" placeholder="Enter Contact Person Name"
                        formControlName="personName" maxlength="30" />
                    @if (manufactureForm.get('personName')?.touched ||
                    manufactureForm.get('personName')?.dirty) { @if
                    (manufactureForm.get('personName')?.hasError('required')) {
                    <span class="text-danger">Contact Person Name is required</span>
                    } @else if (manufactureForm.get('personName')?.hasError('pattern')) {
                    <span class="text-danger">
                        Contact Person Name must be 3–30 characters (letters and spaces
                        only)
                    </span>
                    } }
                </div>

                <div class="col-md-4 mb-3">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" placeholder="Enter Email" formControlName="email"
                        maxlength="254" />
                    @if (manufactureForm.get('email')?.touched) { @if
                    (manufactureForm.get('email')?.hasError('required')) {
                    <span class="text-danger">Email is required</span>
                    } @else if (manufactureForm.get('email')?.hasError('pattern')) {
                    <span class="text-danger">Please enter a valid email address</span>
                    } }
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 mb-3">
                    <label class="form-label">Mobile Number</label>
                    <input type="text" class="form-control" placeholder="Enter Mobile Number" formControlName="mobileNo"
                        (keypress)="($event.key.match('[0-9]') ? true : $event.preventDefault())" maxlength="10" />

                    @if (manufactureForm.get('mobileNo')?.touched ||
                    manufactureForm.get('mobileNo')?.dirty) { @if
                    (manufactureForm.get('mobileNo')?.hasError('required')) {
                    <span class="text-danger">Mobile Number is required</span>
                    } @else if (manufactureForm.get('mobileNo')?.hasError('pattern')) {
                    <span class="text-danger">Please enter a valid 10-digit mobile number</span>
                    } }
                </div>

                <div class="col-md-4 mb-3">
                    <label class="form-label">GSTN</label>
                    <input type="text" class="form-control" placeholder="Enter GSTN" formControlName="gstn"
                        (input)="toGstinInput($event)" maxlength="15" />
                    @if (manufactureForm.get('gstn')?.touched) { @if
                    (manufactureForm.get('gstn')?.hasError('required')) {
                    <span class="text-danger">GSTN is required</span>
                    } @else if (manufactureForm.get('gstn')?.hasError('pattern')) {
                    <span class="text-danger">Invalid GSTN format</span>
                    } }
                </div>

                <div class="col-md-4 mb-3">
                    <label class="form-label">PAN</label>
                    <input type="text" class="form-control" placeholder="Enter PAN" formControlName="panNo"
                        (input)="toPanInput($event)" maxlength="10" />
                    @if (manufactureForm.get('panNo')?.touched) { @if
                    (manufactureForm.get('panNo')?.hasError('required')) {
                    <span class="text-danger">PAN is required</span>
                    } @else if (manufactureForm.get('panNo')?.hasError('pattern')) {
                    <span class="text-danger">Format: ABCDE1234F</span>
                    } }
                </div>
            </div>

            <!-- Row 3: 3 Columns -->
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label class="form-label">Status</label>
                    <select class="form-control" formControlName="status">
                        @for(data of StatusDropdown; track data) {
                        <option [value]="data?.value">{{ data?.text }}</option>
                        }
                    </select>
                    @if (manufactureForm.get('status')?.invalid &&
                    (manufactureForm.get('status')?.dirty ||
                    manufactureForm.get('status')?.touched)) {
                    <span class="text-danger">Status is Required</span>
                    }
                </div>

                <div class="col-md-4 mb-3">
                    <label class="form-label">Password</label>
                    <div class="input-group">
                        <input [type]="showPassword ? 'text' : 'password'" class="form-control"
                            placeholder="Enter Password" formControlName="password" />

                        <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
                            <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                        </button>
                    </div>

                    <div *ngIf="manufactureForm.get('password')?.touched && manufactureForm.get('password')?.invalid">
                        <span *ngIf="manufactureForm.get('password')?.hasError('required')"
                            class="text-red-500 text-sm mt-1">
                            Password is required
                        </span>
                        <span *ngIf="manufactureForm.get('password')?.hasError('minlength')"
                            class="text-red-500 text-sm mt-1">
                            Password must be at least 12 characters
                        </span>
                        <span *ngIf="manufactureForm.get('password')?.hasError('maxlength')"
                            class="text-red-500 text-sm mt-1">
                            Password cannot be more than 15 characters
                        </span>
                        <span *ngIf="manufactureForm.get('password')?.hasError('pattern')"
                            class="text-red-500 text-sm mt-1">
                            Password must contain at least 1 uppercase, 1 lowercase, 1 number, and 1 special character
                        </span>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label class="form-label">Logo</label>
                    <div class="flex justify-between item-center gap-2">
                        <img *ngIf="imagePath" [src]="getImageUrl(imagePath)" alt="Profile Photo"
                            class="w-10 h-10 rounded-full profile-image mb-2" />
                        <input type="file" class="form-control" formControlName="logo"
                            (change)="onFileChange($event)" />
                    </div>
                    @if (manufactureForm.get('logo')?.invalid &&
                    (manufactureForm.get('logo')?.dirty ||
                    manufactureForm.get('logo')?.touched)) {
                    <span class="text-danger">Logo is Required</span>
                    }
                </div>
            </div>

            <!-- Row 4: State & City (2 Columns) -->
            <div class="row">
                @if(showInput) {
                <div class="col-md-6 mb-3">
                    <label class="form-label">State
                        <button class="btn btn-info btn-sm" (click)="toggleButton()">
                            <i class="fa fa-times"></i> Cancel
                        </button>
                    </label>
                    <div class="input-group flex !space-x-2">
                        <input type="text" class="form-control" placeholder="Enter State Name"
                            formControlName="stateValue" />
                        <button class="btn btn-info" (click)="addState()">
                            <i class="fa fa-plus"></i> Add
                        </button>
                    </div>
                </div>
                } @else {
                <div class="col-md-6 mb-3">
                    <label class="form-label">
                        State
                        <button class="btn btn-primary btn-sm" (click)="toggleButton()">
                            <i class="fa fa-plus"></i> Add State
                        </button>
                    </label>
                    <ngx-select-dropdown [config]="config" formControlName="state" [options]="stateData"
                        (change)="onSelectState($event)">
                    </ngx-select-dropdown>
                    @if (manufactureForm.get('state')?.invalid &&
                    (manufactureForm.get('state')?.dirty ||
                    manufactureForm.get('state')?.touched)) {
                    <span class="text-danger">State is Required</span>
                    }
                </div>
                } @if(!showCityInput) {
                <div class="col-md-6 mb-3">
                    <label class="form-label">
                        City
                        <button class="btn btn-primary btn-sm" (click)="toggleCityButton()"
                            [disabled]="manufactureForm.get('state')?.invalid">
                            <i class="fa fa-plus"></i> Add City
                        </button>
                    </label>
                    <ngx-select-dropdown [config]="config" formControlName="city" [options]="cityData">
                    </ngx-select-dropdown>
                    @if (manufactureForm.get('city')?.invalid &&
                    (manufactureForm.get('city')?.dirty ||
                    manufactureForm.get('city')?.touched)) {
                    <span class="text-danger">City is Required</span>
                    }
                </div>
                } @else {
                <div class="col-md-6 mb-3">
                    <label class="form-label">City
                        <button class="btn btn-info btn-sm" (click)="toggleCityButton()">
                            <i class="fa fa-times"></i> Cancel
                        </button>
                    </label>
                    <div class="input-group flex !space-x-2">
                        <input type="text" class="form-control" placeholder="Enter City Name"
                            formControlName="cityValue" />
                        <button class="btn btn-info" (click)="addCity()">
                            <i class="fa fa-plus"></i> Add
                        </button>
                    </div>
                </div>
                }
            </div>

            <!-- Row 5: Address (Full Width) -->
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label class="form-label">Address</label>
                    <textarea class="form-control" placeholder="Enter Address" formControlName="address" rows="3"
                        maxlength="1000"></textarea>
                </div>
            </div>
        </div>

        <!-- Footer Buttons -->
        <div class="footer">
            <div class="button-container">
                <button class="btn btn-success" type="submit" (click)="submit(manufactureForm.value)">
                    Submit
                </button>
                <button class="btn btn-danger" type="button" (click)="cancel()">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>