<div class="card">
    <div class="card-header">
        <div class="header-part">
            <span>Manufacturer List</span>
            <div class="counting">
                <span>
                    {{ pagesize.count > 0 ? startValue : 0 }} -
                    {{ pagesize.count > 0 ? lastValue : 0 }}
                    OF {{ pagesize.count > 0 ? pagesize.count : 0 }} Manufacturer
                </span>
            </div>
            @if (pagesize.count && pagesize.count > 0) {
            <div class="row">
                <div class="d-flex justify-content-center">
                    <pagination-controls id="manuId" [maxSize]="10" [responsive]="true" [nextLabel]="''"
                        [previousLabel]="''" (pageChange)="onTablePageChange($event)">
                    </pagination-controls>
                </div>
            </div>
            }
        </div>
    </div>
    <div class="card-body">
        <div class="header-container flex flex-col sm:flex-row justify-between gap-4 pb-2">
            <div class="left-section">
                <div class="flex items-center justify-between sm:justify-start space-x-2">
                    <label for="itemsPerPage" class="text-sm text-gray-700 whitespace-nowrap">Items per page:</label>
                    <select id="itemsPerPage"
                        class="block w-20 p-2 bg-white border border-gray-300 rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-gray-700"
                        [(ngModel)]="pagesize.limit" (change)="onPageSizeChange($event)">
                        @for (size of [25, 50, 100]; track $index) {
                        <option [value]="size">{{ size }}</option>
                        }
                    </select>
                </div>
            </div>
            <div class="right-section flex flex-col sm:flex-row gap-4 sm:gap-x-2 w-full sm:w-auto">

                @if(this.userDetails?.RoleId !== "6") {
                <button (click)="onAddManufacture('')"
                    class="!btn !btn-primary bg-[#696cff] hover:bg-[#787bff] text-white font-medium px-4 py-2 rounded-lg transition-colors duration-200 flex items-center gap-2 w-full sm:w-auto">
                    <i class="fa fa-plus" aria-hidden="true"></i> Create Manufacturer
                </button>
                }
                <!-- <button class="btn btn-success" (click)="downloadExcel()">
                    <i class="fas fa-file-excel mr-2"></i>Excel
                </button> -->
        
                  <button class="btn btn-success" (click)="downloadExcel()"
                   [disabled]="isExcelLoading">
                    <i class="fas fa-file-excel mr-2"></i> {{ isExcelLoading ? 'Downloading...' : 'Excel' }}
                </button>

                  <button class="px-3 py-1 bg-red-500 text-white rounded-full" (click)="exportManufactureToPDF()"
                    [disabled]="isExporting && isExporting !== 'PDF'">
                    {{ isExporting === 'PDF' ? 'Exporting...' : 'PDF' }}
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="overflow-auto">
                    <div id="datatable_wrapper">
                        @if (isLoading) {
                        <app-loader />
                        } @else {
                        <table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline"
                            role="grid" #TABLE aria-describedby="datatable_info" style="width: 100%" width="100%">
                            <thead>
                                <tr role="row">
                                    @for (vehicleHeading of visibleColumns; track $index) {
                                    <th>
                                        <span>{{ vehicleHeading?.title }}</span>
                                    </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of manuFacuturerList | paginate: {id: 'manuId',
                                itemsPerPage: pagesize.limit, currentPage: pagesize.offset, totalItems:
                                pagesize.count}; track $index) {
                                <tr>
                                    <td>
                                        {{ (pagesize.offset - 1) * pagesize.limit + $index + 1 }}
                                    </td>
                                    <td>{{item?.orgName || 'NA'}}</td>
                                    <td>{{item?.contactPersonName || 'NA'}}</td>
                                    <td>{{item?.email || 'NA'}}</td>
                                    <td>{{item?.mobileNo || 'NA'}}</td>
                                    <td>{{item?.gstNo || 'NA' }}</td>
                                    <td>{{item?.panNo || 'NA' }}</td>
                                    <td>
                                        @if(item?.profile_image_path) {
                                        <img class="w-10 h-10" [src]="item?.profile_image_path" alt="" />
                                        } @else {
                                        <img class="w-10 h-10" src="images/no-image.png" alt="" />
                                        }
                                    </td>
                                    <td>
                                        <button class="btn btn-info" (click)="showDetails(item)">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </td>
                                    @if(this.userDetails?.RoleId !== "6") {
                                    <td class="flex !space-x-2">
                                        <button class="btn btn-success" (click)="onAddManufacture(item)">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-danger" (click)="onDeleteManufacture(item)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                    </td>
                                    }
                                </tr>
                                }
                            </tbody>
                        </table>
                        }
                    </div>
                </div>
                @if(!manuFacuturerList?.length) {
                <div class="text-center py-4 text-gray-500">
                    No Manufacturer Available
                </div>
                }
            </div>
        </div>
    </div>
</div>