<div class="card">
    <div class="card-header">
        <div class="header-part">
            <span>Device Detail</span>
        </div>
    </div>
    <div class="card-body">
        <div class="mb-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="overflow-auto">
                        <div id="datatable_wrapper">
                           @if (searchListDta) {
                                    <table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline"
                                        role="grid" #TABLE aria-describedby="datatable_info" style="width: 100%" width="100%">
                                        <thead>
                                            <tr role="row">
                                                @for (vehicleHeading of columns; track $index) {
                                                    <th>
                                                        <span>{{ vehicleHeading?.title }}</span>
                                                    </th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{searchListDta?.vahanSno || 'NA'}}</td>
                                                <td>{{searchListDta?.imei || 'NA'}}</td>
                                                <td>{{searchListDta?.iccid || 'NA'}}</td>
                                                <td>{{searchListDta?.cardStatus || 'NA'}}</td>
                                                <td>---</td>
                                                <td>{{searchListDta?.validTillDate | date : 'dd/MM/YYYY' }}</td>
                                                <td>{{searchListDta?.version || 'NA' }}</td>
                                                <td>{{searchListDta?.cardState || 'NA' }}</td>
                                                <td>{{searchListDta?.firstSim || 'NA' }}</td>
                                                <td>{{searchListDta?.secondSim || 'NA' }}</td>
                                                <td>{{searchListDta?.firstTsp || 'NA' }}</td>
                                                <td>{{searchListDta?.deviceSubcategoryName || 'NA' }}</td>
                                                <td>{{searchListDta?.firstName || 'NA' }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                } @else {
                                    <div class="text-center py-4 text-gray-500">
                                        No Device Detail Available
                                    </div>
                                }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>