<form [formGroup]="rawDataForm" (ngSubmit)="submit(rawDataForm.value , $event)">
    <div class="grid grid-cols-5 gap-2 mb-3">
        <div class="flex flex-col">
            <input type="text" class="form-control" formControlName="imei" placeholder="Enter IMEI"  maxlength="15"
                        (keypress)="($event.key.match('[0-9]') ? true : $event.preventDefault())" />
            @if (rawDataForm.get('imei')?.hasError('required') && rawDataForm.get('imei')?.touched) {
            <span class="text-danger">IMEI is required</span>
            }
            @if (rawDataForm.get('imei')?.hasError('pattern')) {
            <span class="text-danger">IMEI must be exactly 15 digits</span>
            }
        </div>

        <button class="btn btn-primary text-white h-[38px]" type="submit">
            <i class="fas fa-file-alt mr-2"></i>Search
        </button>
    </div>
</form>